%div#main
  %div#title
    %H1 HAB1
  %div#answer
    - 1.upto(4) do |i|
      %div.select-digit
        %div.selected
          %span
        %select{ :id => 'digit' + i.to_s }
          - 0.upto(9) do |j|
            %option #{j}
    %div#expect_btn.button
      候補を表示
  %div#hbcount
    %div.digit-alph
      H
    %div.select-digit
      %div.selected
        %span
      %select#hit
        - 0.upto(4) do |i|
          %option #{i}
    %div.digit-alph
      B
    %div.select-digit
      %div.selected
        %span
      %select#blow
        - 0.upto(4) do |i|
          %option #{i}
    %div#takein_btn.button
      結果を取込
  %div#matrix
    - 1.upto(4) do |i|
      %div{ :id => 'matrix' + i.to_s }
        %div.matrix_panel.top.left.num7
          %p 7
        %div.matrix_panel.top.mid.num8
          %p 8
        %div.matrix_panel.top.right.num9
          %p 9
        %div.matrix_panel.main.left.num4
          %p 4
        %div.matrix_panel.main.mid.num5
          %p 5
        %div.matrix_panel.main.right.num6
          %p 6
        %div.matrix_panel.bottom.left.num1
          %p 1
        %div.matrix_panel.bottom.mid.num2
          %p 2
        %div.matrix_panel.bottom.right.num3
          %p 3
        %div.matrix_panel.zero.left.num_nul
          %p -
        %div.matrix_panel.zero.mid.num0
          %p 0
        %div.matrix_panel.zero.right.num_nul
          %p -
  %div#result
    %H3 History
    %div#results
